<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>CloneButPro</h1>
  <ul>
    {% if g.current_user %}
      <li><span>{{ g.current_user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Chiqish</a>
    {% else %}
      <li><a href="{{ url_for('auth.signup') }}">Ro'yxatdan o'tish</a>
      <li><a href="{{ url_for('auth.login') }}">Tizimga kirish</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}

</section>
